
.header-page {
  padding: 0;
  .navPrincipale {
    display: flex;
    height: 156px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    justify-content: center;
    padding-bottom:21px;

    ul {
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      padding: 0;

      .titre {
        order: -1;
        font-family: var(--ff-titre);
      }
    }
  }
  }


@media screen and (min-width: $vw-medium) {
  .header-page .navPrincipale ul .titre {
      order:0;

  }
    .header-page{

      .navPrincipale{
        justify-content: space-between;
        padding-top:16px;
        padding-bottom:17px;
        height:60px;
        ul{
          flex-direction: row;
          justify-content: center;
          li{
            margin-left:60px
          }
        }
      }

    }
  }

@media screen and (min-width: $vw-huge) {

  .header-page {
    .navPrincipale {
      justify-content: center;
    }
  }


}
