.hero {
  background-image: url("../images/Image Hero.svg");
  height: 570px;
  background-repeat: no-repeat;
  background-size: cover;
}
div>h2{
  display:none;
}

@media screen and (min-width: $vw-medium) {
  div>h2{
    font-weight:700;
    font-size:48px;
    color:white;
    display: inherit;
    position: absolute;
    padding-left:193px;
    padding-top:270px;
  }
}

@media screen and (min-width: $vw-huge) {
  div>h2{
    display:none;
  }
}