.hero {
  background-image: url("../images/Image Hero.svg");
  height: 570px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.hero h2{
  display:none;
}

@media screen and (min-width: $vw-medium) {
  .hero h2{
    font-weight:700;
    font-size:48px;
    color:white;
    display: inherit;
  }
}

@media screen and (min-width: $vw-huge) {
  .hero h2{
    display:none;
  }
}