:root {
  //Couleur de base
  --color-white:#FFFFFF;

  //Couleurs du projet
  --color-link: #232323;
  --color-hover: #FB545F;

  --color-bg-primary:#FFFFFF;
  --color-bg-secondary:linear-gradient(129.76deg, #A38DFD 0%, #FFA0A2 93.53%);
  --color-bg-pourcentage:#FE525B;
  --color-text-primary:#FFFFFF;
  --color-text-secondary:#232323;
}