:root {
  // Grosseur des textes
  --fz-normal:1rem;
  // Grosseur des titres
  --fz-h1:1.5rem;
  --fz-h2:1.375rem;
  --fz-h3:0.75rem;

  // Hauteur de ligne

  --lh-extra-thin: 1;
  --lh-thin: 1.2;
  --lh-normal: 1.5;
  --lh-medium: 2.0625;
  --lh-large: 2.25;

  //Font family
  --ff-normal:Poppins,serial ,arial;
  --ff-titre:Comfortaa,serial,arial;
}